.cabecalho__menu-hamburger {
    display: inline-block;
    background-image: url(../assets/Menu.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    background-color: var(--branco-banner);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.cabecalho__imagem {
    padding: 1em;
}

.cabecalho__lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    background-color: var(--branco-banner);
    font-family: var(--fonte);
}

#menu {
    display: none;
}

.cabecalho__menu:checked~.cabecalho__lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    text-transform: uppercase;
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__item {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    font-weight: 400;
}

.cabecalho__container {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1024px) {}

.cabecalho__titulo {
    display: none;
}

.opcoes {
    display: none
}

@media screen and (min-width: 1024px) {
    .cabecalho__titulo, .cabecalho__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px
    }

    .cabecalho__titulo {
        font-weight: 400;
        display: block;
    }

    .cabecalho__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto)
    }

    .cabecalho__imagem-favorito {
        display: none;
    }
    
    .cabecalho__menu-hamburger {
        display: none;
    }

    .opcoes__botao:checked~.cabecalho__lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }
}

